.layoutWrapper {
  height: 100%;
  :global {
    .am-tab-bar {
      position: fixed;
      width: 100%;
      height: 50px;
      bottom: 0;
    }
  }
}
.tabBar {
  :global {
    .iconfont {
      font-size: 20px;
    }
  }
}
